.headerContainer {
    background-color: gray;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.header:active {
    text-decoration: underline;
    color: blue;
}
.header {
    text-decoration: none;
    color:white;
}

